*.mod
*.o
*.a
a.out
*~
*.pyc
*.pyo
yaml/win32/*
yaml/*
machines/thismachine.make
src/input_variables_definition.c
flame
docs/_build/doctrees
docs/_build/html
docs/_build/latex
docs/doxygen/html
docs/doxygen/latex
futile/INSTALL
futile/Makefile.in
futile/aclocal.m4
futile/autom4te.cache/*
futile/config.h.in
futile/configure
futile/c-bindings/Makefile.in
futile/config/compile
futile/config/config.guess
futile/config/config.sub
futile/config/depcomp
futile/config/install-sh
futile/config/missing
futile/config/py-compile
futile/doc/Makefile.in
futile/flib/Makefile.in
futile/src/Makefile.in
futile/tests/Makefile.in
futile/tests/c-bindings/Makefile.in
futile/tests/fft/Makefile.in
futile/tests/flib/Makefile.in
futile/tests/wrappers/Makefile.in
futile/wrappers/Makefile.in
futile/src/python/Makefile.in
futile/src/python/futile/Makefile.in
build/install/*
build/libyaml/*
build/futile/*
build/buildrc
POSCAR2ascii.x
ascii2POSCAR.x
binaries.x
espresso_restruct.x
expand_poslows.x
convex_hull.x
recompute_kpt.x
ternaries.x
vasp_recompute_cell.x
vasp_recompute_kpt.x
vasp_recompute_kpt_odd.x
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.sub
configure
depcomp
install-sh
INSTALL
missing
modules/Makefile.in
src/Makefile.in
src/lenosky_tb/Makefile.in
futile-suite/*
